.landing-page{
    margin-top: 8.5rem;
}
.icon-todo, .icon-calendar, .icon-reminders, .icon-planning{
    width: 25px;
    height: 25px;
}
.btn-two:hover{
background: black;
color: white;
}
.hero{
    width: 500px;
    height: 390px;
}

@media (300px <= width <= 600px) {
.dropdown-menu{
  border: none;
}  
.landing-page{
  margin-top: -0.3rem;
}
.row{
  display: flex;
  flex-direction: column-reverse;
}
 .hero{
    width: 300px;
    height: 300px;
}

br{
    display: none;
  }
.login{
    display: flex;
    flex-direction: column;
  }
  
}