body{
    width: 100%;
    height: 100%;
    background: white;
}
.logo{
    width: 75px;
    height: 25px;
}
.icon-arrow-down, .arrow-up{
    width: 15px;
    height: 10px;
    cursor: pointer;
}
.dropdown-one,.dropdown-two{
    display: none;
}
.icon-todo, .icon-calendar, .icon-reminders, .icon-planning{
    width: 25px;
    height: 25px;
}
.content{
    position: absolute;
    margin-left: -6rem;
    background: white;
    border: none;
    box-shadow: 1px 1px 5px 1px;
    width: 100px;
    height: max-content;
    cursor: pointer; 
}
.nav-left{
margin-right: 5rem;
}
.btn-one{
    border: 0.5px solid;
    width: 100px;
    height: 40px;
}
.btn-two{
    background: black;
    color: white;
}
.btn-two:hover{
    background: white;
    color: black;
}
.hero{
    width: 400px;
    height: 450px;
    
}
.colapse{
    display: none;
}
.nav-left-two{
    display: none;
}
.hamburger-menu{
    visibility: hidden;
}
@media (max-width:767px) {
.page{
    width: 100vw;
    height: 110vh;
    overflow: hidden;
    }
.nav-bar{
    visibility: hidden;
 } 
.menu{
    margin-top: -1rem;
}  
.landing-page{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.header{
   display: flex;
   justify-content: center;
   align-self: center;
}
br{
    display: none;
    }
.paragraph{
    margin-left: 50px;
   width: 300px;

}
.btn-two{
    margin-left: 150px;
    min-width: max-content;
}
.icons{
    margin-left: 15px;
}
.colapse{
    position: absolute;
    left: 50%;
    top: 0%;
    width:100vw;
    height:110vh;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 5px 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    font-size: 1.5rem;
}
.nav-left-two{
    position: absolute;
    right: 77%;
    top: 45%; 
    display: block;
}
.hamburger-menu{
    visibility: visible;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 18rem;
}
.dropdown-three,.dropdown-four{
    display: none;
}
.content{
    position: relative;
    left: 1%;
    right: 1%;
    min-width: 150px;
    box-shadow: none;
}
.btn-one{
    width: 170px;
}
#cancel{
    margin-left: 8rem;

}
}
@media (max-width:1224px) {
    .btn-two{
        min-width: max-content;
    }
    .landing-page{
        margin-top: 30px;
    }
}